.homeContainer {
  display: flex;
  flex-direction: row;
}
form.taskForm {
  margin-bottom: 25px;
}
.taskBlock {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-right: 30px;
  margin-bottom: 3px;
  padding: 3px;
  border: 1px #ffcf33 solid;
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  color: #403f3d;
}
.taskBlockButtons {
  align-items: flex-end;
}

/* Button Add Task */
button.ui.button {
  margin-top: 23px
}