/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Varela+Round&display=swap');

html * {
  font-family: 'Nunito', sans-serif !important;
}

header {
  margin-bottom: 30px;
}

h3 {
  font-family: 'Varela', sans-serif !important;
}

.kidsList {
  margin-left: 30px;
  margin-right: 30px;
}

.homeContainer {
  display: flex;
  flex-direction: row;
}
form.taskForm {
  margin-bottom: 25px;
}

.ui.card.taskBlock {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-right: 30px;
  margin-bottom: 3px;
  padding: 3px;
  border: 1px #ffcf33 solid;
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  color: #403f3d;
}
/* .taskBlockButtons {
  align-items: flex-end;
  margin-top: 30px;
} */

/* Button Add Task */
button.ui.button {
  margin-top: 23px
}

h3 {
  margin: 20px
}

i {
  font-family: Icons !important;
}