footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: block;
}

.ui.borderless.inverted.menu {
  flex-shrink: 0;
  margin: 0;
  background: #33e7ff;
}

div.footer.item {
  color: #403f3d !important;
}